<% if @bookmarks.empty? %>
  <h5 style="text-align: center"><%= t('bookmarks.index.title') %></h5>
<% end %>
<div class="container">
  <div class="row">
    <% @bookmarks.each do |bookmark| %>
      <div class="col-xs-12 col-sm-6">
        <%= render 'shared/card_idea', idea: bookmark.idea %>
      </div>
    <% end %>
  </div>
</div>
