<div class="hidden-xs" style="margin-top: 100px;">
</div>
<div class="container">
  <div class="col s12">
    <div class="row">
      <div class="card form-card col-sm-6" >
        <h5 class="form-title profile_new_title"><%= t('profiles.edit.your_account') %></h5>

        <%= simple_form_for [@profile] do |f| %>

          <div class="row">

            <div class="form">
              <%= f.error_notification %>

              <%= f.input :username,
                          label: t('profiles.new.pseudo'),
                          class: "title-label",
                          wrapper_html: {class: 's12 input-field'} %>

              <div class="col s12">
                <label>Pays</label>
                <select name="profile[country]" class="browser-default countries_select">
                  <option value="" disabled selected><%= t('profiles.new.countries') %></option>
                  <% CS.countries.delete_if {|k, v| k == :COUNTRY_ISO_CODE}.to_a.sort_by {|c| c[1]}.each do |c| %>
                    <option value="<%= c[0] %>"><%= c[1] %></option>
                  <% end %>
                </select>
              </div>

              <div class="col s12">
                <label>Région</label>
                <select name="profile[state]" class="browser-default states_select">
                  <option value="" disabled selected><%= t('profiles.new.region') %></option>
                </select>
              </div>

              <div class="col s12">
                <label>Ville</label>
                <select name="profile[city]" class="browser-default cities_select">
                  <option value="" disabled selected><%= t('profiles.new.city') %></option>
                </select>
              </div>

              <div class="col s12">
                <label>Sexe</label>
                <select name="profile[sexe]" class="browser-default sexe_select">
                  <option value="" disabled selected><%= t('profiles.new.sexe') %></option>
                  <option value="Femme"><%= t('profiles.new.femme') %></option>
                  <option value="Homme"><%= t('profiles.new.homme') %></option>
                </select>
              </div>

              <%= f.input :age,
                          label: t('profiles.new.age'),
                          include_blank: t('profiles.new.age'),
                          wrapper_html: {class: 's12'} %>

              <div class="row">
                <div class="col-xs-6">

                  <%= f.input :photo %>

                  <%= f.input :photo_cache, as: :hidden %>
                </div>
                <div class="col-xs-6">
                  <div class="form-actions text-center">
                    <%= f.button :submit, t('profiles.new.btn') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6 hidden-xs">
        <%= image_tag("idea-img.png", :class => "idea-img-form") %>
      </div>
    </div>
  </div>
</div>

<script>
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
</script>
