<div class="text-center">
  <div class="col-sm-6 col-xs-6 text-center">
    <div class="banner-profile">
      <div class="text-center">
        <div class="avatar-position">
          <p>
          <div class="dropdown">
            <% if @profile.photo.url %>
              <%= image_tag @profile.photo.url(:bright_face) %>
            <% else %>
              <% avatar_url = current_user.facebook_picture_url || "https://img.pngio.com/parent-directory-avatar-2png-avatar-png-256_256.png" %>
              <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <% end %>
          </div>
          </p>
        </div>
      </div>

    </div>
  </div>
  <div class="col-sm-6 col-xs-6 text-center">
    <div class="data-position">
      <div class="elements-description">
        <h5 style=" font-weight: bold;">
          <%= @profile.username %>
        </h5>
      </div>
      <div class="elements-description">
        <p style="color: grey;">
          <% if policy(@profile).edit? %>
            <%= link_to edit_profile_path(@profile) do %>
              <i class="fas fa-pen"></i> <%= @profile.city %> - <%= @profile.age %> <%= t('profiles.show.age') %>
            <% end %> <br>
            <%= link_to t('profiles.show.account'), edit_profile_path(@profile) %>
          <% end %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt log-out" style="color: #000000;"></i>
            <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-xs-12">
    <hr>
    <div class="row">
      <div class="informations-profil">
        <div class="col-xs-4 element">
          <h5><%= @profile.ideas.where(status: "publié").count %></h5>
          <% if @profile.ideas.count > 1 %>
            <p><%= t('profiles.show.ideas') %></p>
          <% else %>
            <p><%= t('profiles.show.idea') %></p>
          <% end %>
        </div>
        <div class="col-xs-4 element">
          <h5><%= policy_scope(Box).where(profile_id: @profile.id).count %></h5>
          <% if policy_scope(Box).where(profile_id: @profile.id).count > 1 %>
            <p><%= t('profiles.show.box_ideas') %></p>
          <% else %>
            <p><%= t('profiles.show.box_idea') %></p>
          <% end %>
        </div>
        <div class="col-xs-4 element">
          <h5><%= policy_scope(ProProfile).where(user_id: User.find(@profile.user_id)).count %></h5>
          <% if policy_scope(ProProfile).where(user_id: User.find(@profile.user_id)).count > 1 %>
            <p><%= t('profiles.show.entities') %></p>
          <% else %>
            <p><%= t('profiles.show.entity') %></p>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>

<div class="row links">
  <div class="col-xs-6">
    <div class="btn">
      <%= link_to(new_pro_profile_path) do %>
        <p>+ <%= t('profiles.show.entity') %></p>
      <% end %>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="btn">
      <%= link_to(new_box_path) do %>
        <p>+ <%= t('profiles.show.box_idea') %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" style="margin-top: 20px;">
    <div class="type-selection text-center">
      <a href="?ideas">
        <div class="filter <%= "active" if request.fullpath == "/my_profile?ideas" || request.fullpath == "/en/my_profile?ideas" || request.fullpath == "/fr/my_profile?ideas"%>" >
          <p><%= t('profiles.show.ideas') %></p>
        </div>
      </a>
      <a href="?box_idea">
        <div class="filter <%= "active" if request.fullpath == "/my_profile?box_idea" %>">
          <p><%= t('profiles.show.box_ideas') %></p>
        </div>
      </a>
      <a href="?pro_profiles">
        <div class="filter <%= "active" if request.fullpath == "/my_profile?pro_profiles" %>">
          <p><%= t('profiles.show.entities') %></p>
        </div>
      </a>
      <a href="?draft">
        <div class="filter <%= "active" if request.fullpath == "/my_profile?draft" %>">
          <p><%= t('profiles.show.drafts') %></p>
        </div>
      </a>
    </div>
  </div>
</div>
<% if @ideas && request.fullpath == "/my_profile" || @ideas && request.fullpath == "/my_profile?ideas" %>
  <div class="container">
    <div class="row">
      <% @ideas.each do |idea| %>
        <div class="col-sm-12 col-md-7 col-md-offset-3">
          <%= render 'shared/card_idea', idea: idea %>
        </div>
      <% end %>
      <% if @ideas.empty? %>
        <h5 style="text-align: center"><%= t('profiles.show.empty_ideas') %></h5>
      <% end %>
    </div>
  </div>
<% end %>
<% if @boxes && request.fullpath == "/my_profile?box_idea" %>
<div class="container">
  <div class="row">
      <% @boxes.each do |box| %>
        <div class="col-sm-12 col-md-7 col-md-offset-3">
          <%= render 'shared/card_box', box: box %>
        </div>
      <% end %>
      <% if @boxes.empty? %>
        <h5 style="text-align: center"><%= t('profiles.show.empty_boxes') %></h5>
      <% end %>
    </div>
  </div>
<% end %>
<% if @pro_profiles && request.fullpath == "/my_profile?pro_profiles" %>
  <div class="container">
    <div class="row">
      <% @pro_profiles.each do |pro_profile| %>
        <div class="col-sm-12 col-md-7 col-md-offset-3">
          <%= render 'shared/card_pro_profile', pro_profile: pro_profile %>
        </div>
      <% end %>
      <% if @pro_profiles.empty? %>
        <h5 style="text-align: center"><%= t('profiles.show.empty_entity') %></h5>
      <% end %>
    </div>
  </div>
<% end %>
<% if @ideas && request.fullpath == "/my_profile?draft" %>
  <div class="container">
    <div class="row">
      <% @ideas.each do |idea| %>
        <div class="col-sm-12 col-md-7 col-md-offset-3">
          <%= render 'shared/card_idea', idea: idea %>
        </div>
      <% end %>
      <% if @ideas.empty? %>
        <h5 style="text-align: center"><%= t('profiles.show.empty_save') %></h5>
      <% end %>
    </div>
  </div>
<% end %>
<div class="container">
  <div class="row"></div>
</div>
