 <div class="container">
    <div class="col s12">
      <div class="row">

        <h5 class="form-title"><%= t('ideas.edit.title') %></h5>

        <%= simple_form_for [@idea] do |f| %>
          <div class="row">
            <div class="form">
              <%= f.error_notification %>

              <div class="col s10">
                <label><%= t('ideas.edit.entity') %></label>
                <select class="select optional initialized browser-default pro_profile_select" name="idea[pro_profile_ids][]" id="idea_pro_profile_ids" multiple="multiple">
                  <% ProProfile.all.each do |pro_profile| %>
                    <option value="<%= pro_profile.id %>" <%= "selected" if @profile_tags.map {|profile_tag| profile_tag.pro_profile_id}.include?(pro_profile.id) %>><%= pro_profile.title %></option>
                  <% end %>
                </select>
              </div>

              <div class="col-xs-2 add-btn">
                <div class="btn">
                  <%= link_to(new_pro_profile_path, data: { confirm: "Attention, si vous continuez les informations de cette idée ne seront pas sauvegardées !"})  do %>
                    <p><img class="logo-form" src="/assets/plus.png"></p>
                  <% end %>
                  <span class="tooltiptext" style="font-size: 8px;"><%= t('ideas.edit.entity') %></span>
                </div>
              </div>

              <div class="col s10">
                <label>git a</label>
                <select class="select optional initialized browser-default box_select" name="idea[box_ids][]" id="idea_box_ids" multiple="multiple">
                  <% Box.all.each do |box| %>
                    <option value="<%= box.id %>" <%= "selected" if @idea_boxes.map {|idea_box| idea_box.box_id}.include?(box.id) %>><%= box.title %></option>
                  <% end %>
                </select>
              </div>

              <div class="col-xs-2 add-btn">
                <div class="btn">
                  <%= link_to(new_box_path, data: { confirm: "Attention, si vous continuez les informations de cette idée ne seront pas sauvegardées !"}) do %>
                    <p><img class="logo-form" src="/assets/plus.png"></p>
                  <% end %>
                  <span class="tooltiptext" style="font-size: 8px;"><%= t('ideas.edit.box_idea') %></span>
                </div>
              </div>

              <%= f.input :title, label: t('ideas.new.title2'), wrapper_html: {class: 's12'} %>

              <%= f.input :description, wrapper_html: {class: 's12', id: 'textarea', maxlength: "240"}, label: t('ideas.new.desc') %>


            </div>
          </div>

          <div class="counter-caractere">
            <p><span id="wordCount" style="color: grey">0 / 240</span></p>
          </div>
          <div style="display: inline" id="icon-localisation">
            <a href="#"><i  class="fas fa-map-marker-alt"></i><%= t('ideas.edit.localize') %></a>
          </div>

          <div id="idea-localisation" style="display: none;">
            <div class="row" >
              <div class="col-xs-12 col-md-4">

                <label><%= t('ideas.edit.countries') %></label>
                <%=  %>
                <select name="idea[country]" class="browser-default countries_select">
                  <option value="" <%= 'selected' if !@idea.country %>><%= t('ideas.edit.cou') %></option>
                  <% CS.countries.delete_if {|k, v| k == :COUNTRY_ISO_CODE}.to_a.sort_by {|c| c[1]}.each do |c| %>
                    <option <%= 'selected' if @idea.country == c[0].to_s %> value="<%= c[0] %>"><%= c[1] %></option>
                  <% end %>
                </select>

              </div>

              <div class="col-xs-12 col-md-4">
                <label><%= t('ideas.edit.region') %></label>
                <select name="idea[state]" class="browser-default states_select">
                  <option value="" selected><%= t('ideas.edit.region') %></option>
                </select>
              </div>

              <div class="col-xs-12 col-md-4">
                <label><%= t('ideas.edit.city') %></label>
                <select name="idea[city]" class="browser-default cities_select">
                  <option value="" selected><%= t('ideas.edit.city') %></option>
                </select>
              </div>
          </div>
          <input type="hidden" name="selectedState" value="<%= @idea.state %>">
          <input type="hidden" name="selectedCity" value="<%= @idea.city %>">
        </div>

        <div class="row">
          <div class="col-xs-3">
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <%#= f.input :photo, class: "btn" %>
          </div>

          <div class="col-xs-3">
            <div class="form-actions text-center" style="margin-top: 9px;">
              <button name="commit" type="submit" value="Sauvegarder" class="btn save-btn" style="
              height: 41px;">
                <img class="logo-form" src="/assets/save-eb4546cc946a82a59f912aaf85b9028563bbf001c5dadbd0f78bd5c0bec78ef3.png">
              </button>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="form-actions text-center post-btn" style="margin-top: 14px;">
              <%= f.button :submit, t('ideas.edit.btn') %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
              <% if policy(@idea).destroy? %>
                <%= link_to idea_path(@idea), method: :delete, data: {confirm: "Êtes-vous sûr(e) de vouloir supprimer cette idée ?"} do %>
                  <div class="form-actions text-center btn post-btn delete-btn">
                    <img class="logo-form" src="/assets/garbage.png">
                  </div>
                <% end %>
              <% end %>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js">
      $(document).ready(function () {
          $('select').formSelect();
      });
  </script>
