<div class="row">
  <div class="col-xs-12">
    <div class="type-selection text-center">
      <a id="date-btn" href="#">
        <div class="filter <%= "active" if params[:order] == "date" || request.fullpath == "/" %>">
          <p><%= t('ideas.index.date') %></p>
        </div>
      </a>
      <a id="popularity-btn" href="#">
        <div class="filter <%= "active" if params[:order] == "popularity" %>">
          <p><%= t('ideas.index.popularity') %></p>
        </div>
      </a>
      <a id="rating-btn" href="#">
        <div class="filter <%= "active" if params[:order] == "rating" %>">
          <p><%= t('ideas.index.top') %></p>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= form_tag ideas_path, method: :get, :class => 'search-bar' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: t('ideas.index.recherche')
      %>
      <%= submit_tag "🔍", class: "btn search-icon" %>
    <% end %>
  </div>
</div>

<div class="hidden-sm hidden-md hidden-lg">
  <div class="row">
    <div class="col-xs-12">
      <div style="display: inline" id="icon-localisation">
        <a href="#"><i  class="fas fa-map-marker-alt"></i> <%= t('ideas.index.recherche') %></a>
      </div>
    </div>
  </div>
  <div id="idea-localisation" style="display: none;">
    <div class="col-xs-12">
      <form id="filter-form" action="/ideas/filter" method="post">
        <label><%= t('ideas.index.countries') %> <%= params[:country] %></label>
        <select name="country" class="browser-default countries_select">
          <option value="" disabled <%= 'selected' if !params[:country] %>><%= t('ideas.index.countries') %></option>
          <% CS.countries.delete_if {|k, v| k == :COUNTRY_ISO_CODE}.to_a.sort_by {|c| c[1]}.each do |c| %>
            <option <%= 'selected' if params[:country] == c[0].to_s %> value="<%= c[0] %>"><%= c[1] %></option>
          <% end %>
        </select>
      </div>
      <div class="col-xs-12">
        <label><%= t('ideas.index.region') %></label>
        <select name="state" class="browser-default states_select">
          <option value="" disabled selected><%= t('ideas.index.region') %></option>
        </select>
      </div>
      <div class="col-xs-12">
        <label><%= t('ideas.index.city') %></label>
        <select name="city" class="browser-default cities_select">
          <option value="" disabled selected><%= t('ideas.index.city') %></option>
        </select>
      </div>
      <div class="col-xs-12">
        <button class="waves-effect waves-light btn filter-btn" type="submit"><%= t('ideas.index.filter') %></button>
      </div>
      <input type="hidden" name="order" value="<%= params[:order] %>">
    </form>
    <input type="hidden" name="selectedState" value="<%= params[:state] %>">
    <input type="hidden" name="selectedCity" value="<%= params[:city] %>">
  </div>
  </div>
</div>
<div class="main-container">
  <div class="my-container">
    <div class="row">
      <% if !@ideas.empty? %>
        <% @ideas.each do |idea| %>
          <div class="col-sm-12 col-md-7 col-md-offset-3">
            <%= render 'shared/card_idea', idea: idea %>
          </div>
        <% end %>
      <% elsif @ideas.empty? %>
        <div class="col-sm-12 col-md-7 col-md-offset-3">
          <%= render 'shared/empty_card_idea' %>
        </div>
      <% end %>
    </div>
  </div>
    <div id="card-filter" class="hidden-xs">
      <div class="col-xs-12">
        <form id="filter-form" action="/ideas/filter" method="post">
          <label>Pays <%= params[:country] %></label>
          <select name="country" class="browser-default countries_select">
            <option value="" disabled <%= 'selected' if !params[:country] %>><%= t('ideas.index.countries') %></option>
            <% CS.countries.delete_if {|k, v| k == :COUNTRY_ISO_CODE}.to_a.sort_by {|c| c[1]}.each do |c| %>
              <option <%= 'selected' if params[:country] == c[0].to_s %> value="<%= c[0] %>"><%= c[1] %></option>
            <% end %>
          </select>
        </div>
        <div class="col-xs-12">
          <label>Région</label>
          <select name="state" class="browser-default states_select">
            <option value="" disabled selected><%= t('ideas.index.region') %></option>
          </select>
        </div>
        <div class="col-xs-12">
          <label>Ville</label>
          <select name="city" class="browser-default cities_select">
            <option value="" disabled selected><%= t('ideas.index.city') %></option>
          </select>
        </div>
        <div class="col-xs-12">
          <button class="waves-effect waves-light btn filter-btn" type="submit"><%= t('ideas.index.filter') %></button>
        </div>
        <input type="hidden" name="order" value="<%= params[:order] %>">
      </form>
      <input type="hidden" name="selectedState" value="<%= params[:state] %>">
      <input type="hidden" name="selectedCity" value="<%= params[:city] %>">
    </div>
  </div>









