<div class="container">
  <div class="col s12">
    <div class="row">

      <h5 class="form-idea-title text-center"><%= t('ideas.new.title1') %></h5>
      <%= simple_form_for [@idea] do |f| %>
        <div class="row">
          <div class="form">
            <%= f.error_notification %>

            <div class="col s10">
              <label><%= t('ideas.edit.entity') %></label>
              <select class="select optional initialized browser-default pro_profile_select" name="idea[pro_profile_ids][]" id="idea_pro_profile_ids" multiple="multiple">
                <% ProProfile.all.each do |entity| %>
                  <option value="<%= entity.id %>"><%= entity.title %></option>
                <% end %>
              </select>
            </div>

            <div class="col-xs-2 add-btn">
              <div class="btn">
                <%= link_to(new_pro_profile_path, data: { confirm: "Attention, si vous continuez les informations de cette idée ne seront pas sauvegardées !"})  do %>
                  <p><img class="logo-form" src="/assets/plus.png"></p>
                <% end %>
                <span class="tooltiptext" style="font-size: 8px;"><%= t('ideas.new.add_entity') %></span>
              </div>
            </div>

            <div class="col s10">
              <label><%= t('ideas.edit.box_idea') %></label>
              <select class="select optional initialized browser-default box_select" name="idea[box_ids][]" id="idea_box_ids" multiple="multiple">
                <% Box.all.each do |box| %>
                  <option value="<%= box.id %>"><%= box.title %></option>
                <% end %>
              </select>
            </div>

            <div class="col-xs-2 add-btn">
              <div class="btn">
                <%= link_to(new_box_path, data: { confirm: "Attention, si vous continuez les informations de cette idée ne seront pas sauvegardées !"}) do %>
                  <p><img class="logo-form" src="/assets/plus.png"></p>
                <% end %>
                <span class="tooltiptext" style="font-size: 8px;"><%= t('ideas.new.add_idea_box') %></span>
              </div>
            </div>

            <%= f.input :title, label: t('ideas.new.title2'), wrapper_html: {class: 's12'} %>

            <%= f.input :description, wrapper_html: {class: 's12', id: 'textarea', maxlength: "240"}, label: t('ideas.new.desc') %>

          </div>
        </div>

        <div class="counter-caractere">
          <p><span id="wordCount" style="color: grey">0 / 240</span></p>
        </div>
        <div style="display: inline" id="icon-localisation">
          <a href="#"><i  class="fas fa-map-marker-alt"></i> <%= t('ideas.edit.localize') %></a>
        </div>

        <div id="idea-localisation" style="display: none;">
          <div class="row" >
            <div class="col-xs-12 col-md-4">

              <label><%= t('ideas.edit.countries') %></label>
              <select name="idea[country]" class="browser-default countries_select">
                <option value="" disabled <%= 'selected' if !params[:country] %>><%= t('ideas.edit.countries') %></option>
                <% CS.countries.delete_if {|k, v| k == :COUNTRY_ISO_CODE}.to_a.sort_by {|c| c[1]}.each do |c| %>
                  <option <%= 'selected' if params[:country] == c[0].to_s %> value="<%= c[0] %>"><%= c[1] %></option>
                <% end %>
              </select>

            </div>

            <div class="col-xs-12 col-md-4">
              <label>Région</label>
              <select name="idea[state]" class="browser-default states_select">
                <option value="" disabled selected><%= t('ideas.edit.region') %></option>
              </select>
            </div>

            <div class="col-xs-12 col-md-4">
              <label>Ville</label>
              <select name="idea[city]" class="browser-default cities_select">
                <option value="" disabled selected><%= t('ideas.edit.city') %></option>
              </select>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-3">

            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>

          </div>

          <div class="col-xs-3">
            <div class="form-actions text-center" style="margin-top: 9px;">
              <button name="commit" type="submit" value="Sauvegarder" class="btn save-btn" style="
              height: 41px;">
                <img class="logo-form" src="/assets/save-eb4546cc946a82a59f912aaf85b9028563bbf001c5dadbd0f78bd5c0bec78ef3.png">
              </button>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="form-actions text-center post-btn" style="margin-top: 14px;">
              <%= f.button :submit, t('ideas.new.btn') %>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js">
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
