<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render 'shared/card_idea', idea: @idea %>
    </div>
    </div>
  </div>
</div>

<div class="container">
  <%= render 'reviews/form', idea: @idea, review: @review %>
</div>

<div class="container">
  <div class="reviews-idea-show" >
    <% if !@idea.reviews.empty? %>
      <p><%= t('ideas.show.last_reviews') %></p>
    <% end %>
    <% @idea.reviews.order(created_at: :desc).each do |review|%>
    <div class="card-reviews-idea">
      <div class="infos-reviews-idea">
        <div class="username-author-review-idea">
          <b><%= review.profile.username %></b>
        </div>
        <div class="date review-idea">
          <b><%= review.created_at.strftime("%B %d, %Y")  %></b>
        </div>
      </div>
      <div class="description-review-idea">
        <%= review.description %>
      </div>
      <%= link_to (reviews_upvote_path(review)), id: 'upvote-btn', method: :post do %>
        <% if review.users_array.include?([@user.id.to_s, review.id.to_s]) %>
          <i class="fas fa-heart"></i>
        <% else %>
          <i class="far fa-heart"></i>
        <% end %>
      <% end %>
      <%= review.upvote %>
      <% if policy(review).update? %>
        <%= link_to(edit_idea_review_path(@idea, review)) do %>
          <i class="fas fa-pen"></i>
        <% end %>
      <% end %>
      <% if policy(review).destroy? %>
        <%= link_to idea_review_path(@idea, review), method: :delete do %>
          <i class="fas fa-trash"></i>
        <% end %>
      <% end %>
      <% if review.photo.url  %>
        <%= image_tag review.photo.url(:bright_face) %>
      <% end %>

    </div>
    <% end %>
  </div>
</div>

<script src="/assets/jquery.js" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js" type="text/javascript"></script>
