// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

$red-ideez: #ED5560;

$blue-ideez: #87AEB4;

.background-red-ideez {
  background-color: $red-ideez;
}

.color-red-ideez {
  color: $red-ideez;
}


