<div class="hidden-xs" style="margin-top: 100px;">
</div>
<div class="container">
  <div class="col s12">
    <div class="row">
      <div class="card form-card col-sm-6">
        <h5 class="form-title text-center"><%= t('users.signup.title') %></h5>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <%= f.error_notification %>

          <div class="row">

            <div class="form">
              <%= f.input :email,
                          required: true,
                          label: t('users.signup.email'),
                          autofocus: true,
                          input_html: { autocomplete: "email" },
                          wrapper_html: { class: 's12' } %>
              <%= f.input :password,
                          required: true,
                          label: t('users.signup.password'),
                          hint: ("#{@minimum_password_length} #{t('users.signup.minimum_characters')}" if @minimum_password_length) ,
                          input_html: { autocomplete: "new-password" },
                          wrapper_html: { class: 's12' } %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" },
                          wrapper_html: { class: 's12' } %>
            </div>
          </div>

          <div class="form-actions text-center">
            <%= f.button :submit, t('users.signup.btn') %>
          </div>

        <% end %>

        <div class="form-links text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
      <div class="col-xs-6 hidden-xs">
        <%= image_tag("idea-img.png", :class => "idea-img-form") %>
      </div>
    </div>
  </div>
</div>
