// Specific CSS for your home-page (which is index of ideas)

@media screen and (min-width: 800px) {
  .space {
  padding-top: 95px;
  }
}


.filter {
  display: inline-block;
  padding: 11px;
  color: $blue-ideez;
  & p {
    margin: 0px!important;
  }
  &.active {
    border: solid 1px $blue-ideez;
    border-radius: 34px;
  }
}

.fixed-action-btn {
  bottom: 52px!important;
}

.fas.fa-pencil-alt {
  background-color: $red-ideez!important;
}

.logo {
  width: 50px;
  margin: 10px;
}

.header-home {
  display: flex;
  height: 70px;
}

.curved-section {
  position: relative;
  top: 0;
  z-index: 10;
}

.home-title {
  font-size: 20px;
  color: white;
  margin-top: 28px;
  text-align: center;
  padding-top: 6px;
}

.main-container {
  display: flex;
}

#card-filter {
  flex: 0 0 30%;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  padding-top: 40px;
  margin: 40px;
  position: relative;
  // display: flex;
  // flex-direction: column;
}

.filter-btn {
  margin: 10px;
}

.search-bar {
  width: 290px;
  display: flex;
  margin: 0 auto;
  input.form-control {
    border-bottom: 1px solid #9e9e9e;
  }
}

#query {
  border-bottom: 1px solid #9e9e9e;
}
