.profile-show-description {
  background-color: #87AEB4;
  font-size: 20px;
  height: 200px;
  padding: 50px 2px 0px 2px;
  vertical-align: middle;
}

.links {
  display: flex;
  margin-bottom: 7px!important;
  & a {
    color: white;
  }
}


.file-field .file-path-wrapper {

}
