.add-reviews {
      border: #ED5560 1px solid;
    border-radius: 50%;
    background-color: #ED5560;
    padding-top: 6px;
    width: 40px;
    height: 40px;
    margin: auto;
    padding-left: 1px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.add-reviews a{
  color: #ffffff;
}


.description-review-idea {
  margin-top: 30px;
  word-wrap: break-word;
}

.rating-text-description-idea-show {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}


.infos-reviews-idea {
  display: flex;
  justify-content: space-between;
  color: $blue-ideez;
}

.card-reviews-idea {
  margin: 10px;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  &:last-child {
    margin-bottom: 60px;
  }
}

.reviews-idea-show p  {
  font-size: 20px;
  color: $red-ideez;
  margin-left: 10px;
}
.text-description-idea-show {
  color: #ffffff;
  margin: 30px 25px 0px 25px;
  word-wrap: break-word;
}

.ensemble-text-description-idea-show {
  background-color: $blue-ideez;
  height: 180px;
}

.description-idea-show {
  height: 200px;
  background-position: center;
  background-size: cover !important;
}

.content-description-idea-show {
  word-wrap: break-word;
  margin: 25px 25px;
  color: #ffffff;
}
.card-idea-show {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  background-color: $blue-ideez;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  max-width: 1190px;
  word-wrap: break-word;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

#review_description {
  border-bottom: solid 1px #f0f0f0;
}