<div class="container">
  <div class="col s12">
    <div class="row">

      <h2 class="form-title">Mot de passe oublié ?</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="row">

          <div class="form">

            <div class="form-inputs">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" },
                          wrapper_html: { class: 'm6 s12' }  %>
            </div>

          </div>

        </div>

            <div class="form-actions text-center">
              <%= f.button :submit, "Envoyer" %>
            </div>
          <% end %>

      <div class="form-links text-center">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>
