<div class="hidden-xs" style="margin-top: 100px;">
</div>
<div class="container">
  <div class="col s12">
    <div class="row">
      <div class="card form-card form-card-pro-profile col-sm-6">
        <h5 class="form-title text-center"><%= t('boxes.edit.title') %></h5>

        <%= simple_form_for [@box] do |f| %>

          <div class="row">
            <div class="form">
              <%= f.error_notification %>

              <%= f.input :title,
                          label: 'Titre',
                          class: "title-label",
                          wrapper_html: { class: 's12 input-field' } %>

              <%= f.input :description,
                          label: 'Description',
                          class: "title-label",
                          wrapper_html: { class: 's12' } %>
            </div>
          </div>
          <div class="form-actions text-center">
            <%= f.button :submit, t('boxes.edit.button') %>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6 hidden-xs">
        <%= image_tag("idea_box.png", :class => "idea-img-form") %>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
    });
</script>
