<div class="row">
  <div class="col-xs-12">
    <div class="type-selection text-center">
      <%= link_to(pro_profiles_path) do %>
        <div class="filter <%= current_class?(pro_profiles_path) %>">
          <p><%= t('boxes.index.entity') %></p>
        </div>
      <% end %>
      <%= link_to(boxes_path) do %>
        <div class="filter <%= current_class?(boxes_path) %>">
          <p><%= t('boxes.index.box_ideas') %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= form_tag boxes_path, method: :get, :class => 'search-bar' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: t('boxes.index.search')
      %>
      <%= submit_tag "🔍", class: "btn search-icon" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% if @boxes %>
      <% @boxes.each do |box| %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("box.png", :class => "card-idea-logo") %>
                  <%= image_tag("idea_box.png", :class => "idea-image") %>
                  <%= link_to (profile_path(Profile.find(box.profile_id))) do %>
                    <p class="author-name box-author-name"><%= t('boxes.index.by') %> <%= Profile.find(box.profile_id).username %>
                  <% end %>
                  </p>
                  <%= link_to (box_path(box)) do %>
                    <span class="card-title box-title"><%= box.title %><br><%= IdeaBox.where(box_id: box.id).count %> <%= t('boxes.index.number_ideas') %></span>
                  <% end %>
                  <% if policy(box).edit? %>
                    <%= link_to(edit_box_path(box)) do %>
                      <i class="fas fa-pen card-idea-pencil" style="color: black;"></i>
                    <% end %>
                  <% end %>
                </div>
                <div class="card-content">
                  <p>
                    <%= box.description %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
