<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render 'shared/card_box', box: @box %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <% IdeaBox.where(box_id: @box.id).each do |idea_box| %>
        <% idea = Idea.find(idea_box.idea_id) %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <%= render 'shared/card_idea', idea: idea %>
        </div>
      <% end %>
  </div>
</div>
