<div class="informations-description">
  <div class="elements-description">
    <p>
      <i class="fas fa-city"></i> <%= @profile.city %>
    </p>
  </div>
  <br>
  <div class="elements-description">
    <p>
      <i class="fas fa-venus-mars"></i> <%= @profile.sexe %>
    </p>
  </div>
  <br>
  <div class="elements-description">
    <p>
      <i class="fas fa-birthday-cake"></i> <%= @profile.age %> ans
    </p>
  </div>
  <br>
  <div class="elements-description">
    <p>
      <%= @profile.description %>
    </p>
  </div>
</div>

