<div class="text-center">
  <div class="col-sm-6 col-xs-6 text-center">
    <div class="banner-profile">
      <div class="text-center">
        <div class="avatar-position">
          <p>
            <div class="dropdown">
              <% if @profile.photo.url %>
              <%= image_tag @profile.photo.url(:bright_face) %>
              <% else %>
              <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
              <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <% end %>
            </div>
          </p>
          </div>
        </div>
        <div class="username text-center">
          <%= @profile.username %>
          <%= link_to edit_profile_path(@profile) do %>
           <p class="edit-user"><i class="fas fa-user-edit" style="color: white;"></i></p>
          <% end %>
        </div>
        <div class="username text-center">

        <%= link_to(destroy_user_session_path, :method=>'delete') do %>
        <p><i class="fas fa-sign-out-alt" style="color: #000000;"></i></p>
        <% end %>



      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xs-6 text-center">
    <div class="data-position">
      <div class="elements-description">
        <p>
          <b>Pseudo :</b> <%= @profile.username %>
        </p>
      </div>
      <br>
      <div class="elements-description">
        <p>
          <b> Ville :</b> <%= @profile.city %>
        </p>
      </div>
      <br>
      <div class="elements-description">
        <p>
          <b>Sexe :</b> <%= @profile.sexe %>
        </p>
      </div>
      <br>
      <div class="elements-description">
        <p>
          <b>Âge :</b> <%= @profile.age %> ans
        </p>
      </div>
      <br>
      <div class="elements-description">
        <p>
          <%= @profile.description %>
        </p>
      </div>
    </div>
  </div>
  </div>
<div class="row links">
  <div class="col-xs-6">
    <div class="btn">
      <%= link_to(new_pro_profile_path) do %>
        <p>+ entité</p>
      <% end %>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="btn">
      <%= link_to(new_box_path) do %>
        <p>+ boite à idée</p>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="type-selection text-center">
      <%= link_to(root_path) do %>
        <div class="filter <%= current_class?(root_path) %>">
          <p>Date</p>
        </div>
      <% end %>
      <a href="?popularity">
        <div class="filter <%= current_class?('/?popularity') %>">
          <p>Popularité</p>
        </div>
      </a>
      <a href="?rating">
        <div class="filter <%= current_class?('/?rating') %>">
          <p>Top</p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="col-xs-12">
  <div class="back-color-show">
    <ul class="ul-link-show">
      <li class="link-show">
      <a href="?idees">
        <div class="filtre<%= " active" if params.has_key?("idee") %>">
          <p><strong>Idées</strong></p>
        </div>
      </a>
      </li >
      <li class="link-show">
      <a href="?boiteidees">
        <div class="filtre<%= " active" if params.has_key?("boiteidees") %>">
          <p><strong>Boîtes à idées</strong></p>
        </div>
      </a>
      </li>
      <li class="link-show">
      <a href="?profile">
        <div class="filtre<%= " active" if params.has_key?("profile") %>">
          <p><strong>Profile</strong></p>
        </div>
      </a>
      </li>
    </ul>
  </div>
</div>
