<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <%= image_tag("box.png", :class => "card-idea-logo") %>
        <%= image_tag("idea_box.png", :class => "idea-image") %>
        <%= link_to (profile_path(Profile.find(box.profile_id))) do %>
          <p class="author-name box-author-name">Par <%= Profile.find(box.profile_id).username %>
        <% end %>
        </p>
        <%= link_to (box_path(box)) do %>
          <span class="card-title box-title"><%= box.title %><br><%= IdeaBox.where(box_id: box.id).count %> idées</span>
        <% end %>
        <% if policy(box).edit? %>
          <%= link_to(edit_box_path(box)) do %>
            <i class="fas fa-pen card-idea-pencil" style="color: black;"></i>
          <% end %>
        <% end %>
      </div>
      <div class="card-content">
        <p>
          <%= box.description %>
        </p>
      </div>
    </div>
  </div>
</div>



