<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image" style="background-color: rgba(135, 174, 180, 0.5);">
        <%= image_tag("card-idea-logo.png", :class => "card-idea-logo") %>
        <% if idea.photo.url %>
          <%= image_tag(idea.photo.url, :class => "idea-image") %>
        <% elsif  %>
          <%= image_tag("idea-2.jpg", :class => "idea-image") %>
        <% end %>
        <%= link_to (profile_path(Profile.find(idea.profile_id))) do %>
          <p class="author-name"><%= t('ideas.index.by') %>
            <%= Profile.find(idea.profile_id).username %>
        <% end %>
        <% if !ProfileTag.all.where(idea_id: idea.id).empty? %>
          à
        <% end %>
        <% ProfileTag.all.where(idea_id: idea.id).each do |profile_tag| %>
          <%= link_to (pro_profile_path(ProProfile.find(profile_tag.pro_profile_id))) do %>
            <%= ProProfile.find(profile_tag.pro_profile_id).title %>
            <% if ProfileTag.all.where(idea_id: idea.id).count > 1 %>
              /
            <% end %>
          <% end %>
        <% end %>
        </p>
        <p class="idea-date"> <%= idea.created_at.strftime("%B %d, %Y") %></p>

        <%= link_to (idea_path(idea)) do %>
          <span class="card-title"><%= idea.title %></span>
        <% end %>
        <% if idea.city %>
          <p class="idea-city"><i class="fas fa-map-marker-alt"></i> <%= idea.city %> </p>
        <% end %>

        <% @bookmark = Bookmark.find_by(idea_id: idea.id) %>

        <% if current_user.present? && Profile.where(user: current_user.id).exists? %>
          <% if policy(idea).edit? %>
            <%= link_to(edit_idea_path(idea)) do %>
              <i class="fas fa-pen card-idea-pencil"></i>
            <% end %>
          <% else %>
            <% if Bookmark.find_by(profile_id: Profile.find_by(user_id: current_user.id).id) && @bookmark %>
                <%= link_to bookmark_path(@bookmark), method: :delete do %>
                  <i class="card-idea-bookmark fas fa-bookmark"></i>
                <% end %>
              <% else %>
                <%= link_to (new_bookmark_path(idea)) do %>
                  <i class="card-idea-bookmark far fa-bookmark"></i>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

        <%= link_to (profile_path(Profile.find(idea.profile_id))) do %>
          <% if Profile.find(idea.profile_id).photo.url %>
            <%= image_tag(Profile.find(idea.profile_id).photo.url, :class => "avatar-little") %>
          <% else %>
            <%= image_tag("avatar-default.png", :class => "avatar-little") %>
          <% end %>
        <% end %>

        <% if !ProfileTag.all.where(idea_id: idea.id).empty? %>
          <i class="fas fa-chevron-right"></i>
        <% end %>
        <% ProfileTag.all.where(idea_id: idea.id).each do |profile_tag| %>
          <% if ProProfile.find(profile_tag.pro_profile_id).photo.url %>
            <%= link_to (pro_profile_path(ProProfile.find(profile_tag.pro_profile_id))) do %>
              <%= image_tag(ProProfile.find(profile_tag.pro_profile_id).photo.url, :class => "tag-avatar") %>
            <% end %>
          <% else %>
            <%= link_to (pro_profile_path(ProProfile.find(profile_tag.pro_profile_id))) do %>
              <%= image_tag("company.png", :class => "tag-avatar") %>
            <% end %>
          <% end %>
        <% end %>

      </div>

      <div class="card-descriptions">
        <p><%= idea.description %>
        </p>
        <br>
      </div>


      <div class="rate text-center">
        <%= rating_for idea, 'rate', cancel_place: 'right', cancel_hint: 'Cancel this vote!', enable_half: true %>
        <p><%= Rate.avg(idea).round(1) %> / 5 - <%= Rate.where(rateable_id: idea.id).count %> vote<%= "s" if Rate.where(rateable_id: idea.id).count > 1 %></p>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row" style="margin-bottom: -31px;">
            <div class="card-idea-tags">
              <% IdeaBox.all.where(idea_id: idea.id).each do |idea_box| %>
                <%= link_to box_path(Box.find(idea_box.box_id)), class: "card-box-tag" do %>
                  <p>#<%= Box.find(idea_box.box_id).title %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="card-details">
        <div class="row">
          <div class="col-xs-6 text-center">
            <%= link_to (idea_path(idea)) do %>
              <i class="far fa-comment"></i> <%= t('ideas.index.comment') %>
            <% end %>
          </div>
          <div class="col-xs-6 text-center">
            <%= link_to (idea_path(idea)) do %>
              <i class="fas fa-search"></i> <%= t('ideas.index.see') %>
            <% end %>
          </div>
        </div>
          <hr>
          <div class="comment-number">
            <%= link_to (idea_path(idea)) do %>
              <%= idea.reviews.count %>
              <% if idea.reviews.count > 1 %>
                <%= t('ideas.index.count_comments') %>
              <% else %>
                <%= t('ideas.index.count_comment') %>
              <% end %>
            <% end %>
          </div>
          <% idea.reviews.order(created_at: :desc).first(1).each do |element| %>
            <div class="row">
              <div class="col-xs-2">
                <div class="avatar-author"><%= Profile.find(element.profile_id).username.first(1).capitalize %></div>
              </div>
              <div class="col-xs-10 ">
                <p class="comment-preview">
                  <%= element.description.first(50) %>
                  <% if element.description.size >= 50 %>
                    ...
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
