<% @profile.ideas.each do |element| %>
        <div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <% if element.photo.url %>
        <%= image_tag element.photo.url%>
        <% end %>
        <p class="author-name"><%= t('profiles.show.by') %> <%= @profile.username %>

        </p>
        <p class="idea-date"> <%= element.created_at.strftime("%B %d, %Y") %></p>
        <span class="card-title"><%= element.title %></span>
        <p class="idea-city">À Lille</p>
        <% if policy(element).edit? %>
          <%= link_to(edit_idea_path(element)) do %>
            <i class="fas fa-pen card-idea-pencil"></i>
          <% end %>
        <% else %>
          <%= link_to (profiles_bookmark_path(element)), method: :post do %>
            <i class="card-idea-bookmark far fa-bookmark"></i>
          <% end %>
        <% end %>
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-little"/>
        <i class="fas fa-chevron-right"></i>
        <%= image_tag("loreal.jpg", :class => "tag-avatar") %>
      </div>
      <div class="card-content">
        <p><%= element.description %></p>
      </div>
      <div class="row">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6">
          <div class="row">
              <div class="card-idea-tags">
                <% IdeaBox.all.where(idea_id: element.id).each do |idea_box| %>
                  <p class="card-box-tag">#<%= Box.find(idea_box.box_id).title %></p>
                <% end %>
              </div>
          </div>
        </div>
      </div>

      <div class="card-action">
        <a href="#"><i class="far fa-comment"></i></a>
        <a href="#"><i class="far fa-star"></i></a>
        <a href="#"><i class="far fa-eye"></i></a>
        <p class="rating-idea"><%= element.rating %> / 5</p>
        <p class="idea-comment">Voir les 11 commentaires</p>
      </div>
    </div>
  </div>
</div>

    <% end %>
