<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <%= image_tag("company.png", :class => "card-idea-logo") %>
        <% if pro_profile.photo.url %>
          <%= image_tag(pro_profile.photo.url, :class => "idea-image") %>
        <% else %>
          <%= image_tag("idea-2.jpg", :class => "idea-image") %>
        <% end %>
        <%= link_to (profile_path(Profile.find_by(user_id: pro_profile.user_id))) do %>
          <p class="author-name"> <%= t('pro_profiles.show.by') %> <%= Profile.find_by(user_id: pro_profile.user_id).username %></p>
        <% end %>
        <%= link_to (pro_profile_path(pro_profile)) do %>
          <span class="card-title">
            <%= pro_profile.title %>
            <br>
            <%= ProfileTag.where(pro_profile_id: pro_profile.id).count %> <%= t('pro_profiles.show.ideas') %>
          </span>
        <% end %>
        <% if policy(pro_profile).edit? %>
          <%= link_to(edit_pro_profile_path(pro_profile)) do %>
            <i class="fas fa-pen card-idea-pencil"></i>
          <% end %>
        <% end %>
      </div>
      <div class="card-content">
        <p><%= pro_profile.bio %></p>
        <p> </p>
      </div>
    </div>
  </div>
</div>



