<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image" style="background-color: rgba(135, 174, 180, 0.5);">
        <%= image_tag("card-idea-logo.png", :class => "card-idea-logo") %>
        <%= image_tag("idea-2.jpg", :class => "idea-image") %>
        </p>
        <span class="card-title">Aucune idée trouvée !</span>
        <%= image_tag("avatar-default.png", :class => "avatar-little") %>

      </div>

      <div class="card-descriptions">
        <p>Postez votre idée facilement sur Ideez
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>


      <div class="rate text-center">

      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="row" style="margin-bottom: -31px;">
            <div class="card-idea-tags">

            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="card-details">
        <div class="row">
          <div class="col-xs-6 text-center">

          </div>
          <div class="col-xs-6 text-center">

          </div>
        </div>
          <hr>
          <div class="comment-number">

          </div>

      </div>
    </div>
  </div>
</div>
