<div class="navbar-wagon hidden-xs hidden-sm">
  <!-- Logo -->
  <%= link_to(root_path) do %>
    <div class="logo-navbar-desktop">
      <%= image_tag("idea.png", :class => "logo") %>
      <p class="logo-title">Ideez</p>
    </div>
  <% end %>



  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <div class="row-fluid">
      <div class="col-xs-2 col-xs-offset-1">
        <div class="navbar-wagon-item navbar-wagon-link <%= current_class?(pro_profiles_path) %>">
          <%= link_to pro_profiles_path, style: "fill: white;" do %>
            <%= show_svg 'office.svg' %>
          <% end %>
          <span class="tooltiptext">Entité / boite à idée</span>
        </div>
      </div>


      <!-- NEW IDEA -->
      <% if policy(Idea).create? %>
        <%= link_to(new_idea_path) do %>
          <div class="col-xs-2">
            <div class="navbar-wagon-item navbar-wagon-link <%= current_class?(new_idea_path) %>">
              <%= show_svg 'add.svg' %>
              <span class="tooltiptext">Créer une idée</span>
            </div>
          </div>
        <% end %>
      <% end %>

      <!-- BOOKMARK -->
      <!-- If a user have an account and profile he can see his bookmarked ideas -->

      <% if current_user.present? && Profile.where(user: current_user.id).exists? %>
        <%= link_to(bookmarks_path) do %>
          <div class="col-xs-2">
            <div class="navbar-wagon-item navbar-wagon-link  <%= current_class?(bookmarks_path) %>">
              <%= show_svg 'bookmark.svg' %>
              <span class="tooltiptext">Marque page</span>
            </div>
          </div>
        <% end %>



      <!-- If a user have an account but no profile, he had to create his profile -->

      <% elsif current_user && !@profile %>
        <%= link_to(new_profile_path) do %>
          <div class="col-xs-2">
            <div class="navbar-wagon-item navbar-wagon-link  <%= current_class?(new_idea_path) %>">
              <%= show_svg 'bookmark.svg' %>
              <span class="tooltiptext">Marque page</span>
            </div>
          </div>
        <% end %>

      <!-- If a visitor haven't an account nor a profile, he had to create both. -->

      <% else %>
        <%= link_to(new_user_session_path) do %>
          <div class="col-xs-2">
            <div class="navbar-wagon-item navbar-wagon-link  <%= current_class?(new_idea_path) %>">
              <%= show_svg 'bookmark.svg' %>
              <span class="tooltiptext">Marque page</span>
            </div>
          </div>
        <% end %>
      <% end %>

      <!-- PROFILE SHOW -->

      <!-- If a user have an account and profile -->
      <% if current_user.present? && Profile.where(user: current_user.id).exists? && policy(Profile).show? %>
        <%= link_to(my_profile_path) do %>
          <div class="col-xs-2">
            <div class="navbar-wagon-item navbar-wagon-link <%= current_class?(profile_path(@profile)) %>">
              <%= show_svg 'user.svg' %>
              <span class="tooltiptext">Mon profil</span>
            </div>
          </div>
        <% end %>
      <!-- If a user have an account but no profile -->
      <% elsif current_user.present? && !Profile.where(user: current_user.id).exists? %>
        <%= link_to(new_profile_path) do %>
          <div class="col-xs-2">
            <div class="navbar-wagon-item navbar-wagon-link  <%= current_class?(new_profile_path) %>">
              <%= show_svg 'user.svg' %>
              <span class="tooltiptext">Mon profil</span>
            </div>
          </div>
        <% end %>
      <!-- If a visitor haven't an account nor a profile -->
      <% else %>
        <%= link_to(new_user_session_path) do %>
          <div class="col-xs-2">
            <div class="navbar-wagon-item navbar-wagon-link <%= current_class?(new_profile_path) %>">
              <%= show_svg 'user.svg' %>
              <span class="tooltiptext">Mon profil</span>
            </div>
          </div>
        <% end %>
      <% end %>

        <% if I18n.locale == I18n.default_locale %>
         <div class="col-xs-2">
          <p>
            <%= link_to(:locale=>'en') do  %>
              <%= image_tag("united-kingdom.png", :class => "flag") %>
            <% end  %>
          </p>
          </div>
        <% else %>
          <div class="col-xs-2">
          <p>
            <%= link_to(:locale=>'fr') do  %>
              <%= image_tag("france.png", :class => "flag") %>
            <% end  %>
          </p>
        <%end%>
        </div>
    </div>
  </div>
</div>

<!-- Dropdown appearing on mobile only -->
<div class="hidden-md hidden-lg footer-bar z-depth-1">
  <div class="row-fluid">
    <%= link_to(root_path) do %>
      <div class="col-xs-2 col-xs-offset-1">
        <div class="footer-item navbar-icon <%= current_class?(root_path) %>">
          <%= show_svg 'home.svg' %>
        </div>
      </div>
    <% end %>

    <%= link_to(pro_profiles_path) do %>
      <div class="col-xs-2">
        <div class="footer-item navbar-icon <%= current_class?(pro_profiles_path) %>">
          <%= show_svg 'office.svg' %>
        </div>
      </div>
    <% end %>

    <!-- NEW IDEA -->
    <% if policy(Idea).create? %>
      <%= link_to(new_idea_path) do %>
        <div class="col-xs-2">
          <div class="footer-item navbar-icon <%= current_class?(new_idea_path) %>">
            <%= show_svg 'add.svg' %>
          </div>
        </div>
      <% end %>
    <% end %>

    <!-- BOOKMARK -->

    <!-- If a user have an account and profile he can see his bookmarked ideas -->
    <% if current_user && @profile %> %>
      <%= link_to(bookmarks_path) do %>
        <div class="col-xs-2">
          <div class="footer-item navbar-icon   <%= current_class?(bookmarks_path)%>">
            <%= show_svg 'bookmark.svg' %>
          </div>
        </div>
      <% end %>
    <% elsif current_user.present? && !Profile.where(user: current_user.id).exists? %>
      <%= link_to(new_profile_path) do %>
        <div class="col-xs-2">
          <div class="footer-item navbar-icon   <%= current_class?(bookmarks_path)%>">
            <%= show_svg 'bookmark.svg' %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= link_to(new_user_session_path) do %>
        <div class="col-xs-2">
          <div class="footer-item navbar-icon <%= current_class?(new_profile_path) %>">
            <%= show_svg 'bookmark.svg' %>
          </div>
        </div>
      <% end %>
    <% end %>

    <%# if policy(Bookmark).index? %>
      <%#= link_to(bookmarks_path) do %>
<!--        <div class="col-xs-2">-->
<!--          <div class="footer-item navbar-icon   <%#= current_class?(bookmarks_path)%>">-->
            <%#= show_svg 'bookmark.svg' %>
<!--          </div>-->
<!--        </div>-->
      <%# end %>
    <%# end %>

    <!-- PROFILE SHOW -->

    <!-- If a user have an account and profile -->
    <% if current_user.present? && Profile.where(user: current_user.id).exists? && policy(Profile).show? %>
      <%= link_to(my_profile_path) do %>
        <div class="col-xs-2">
            <div class="footer-item navbar-icon <%= 'active' if request.fullpath == "/my_profile" || request.fullpath == "/my_profile?ideas" || request.fullpath == "/my_profile?box_idea" || request.fullpath == "/my_profile?pro_profiles" || request.fullpath == "/my_profile?draft" %>">
            <%= show_svg 'user.svg' %>
          </div>
        </div>
      <% end %>
    <!-- If a user have an account but no profile -->
    <% elsif current_user.present? && !Profile.where(user: current_user.id).exists? %>
      <%= link_to(new_profile_path) do %>
        <div class="col-xs-2">
          <div class="footer-item navbar-icon  <%= 'active' if request.fullpath == "/profiles/#{params["id"]}" && Profile.find_by(user_id: current_user.id) == @profile %>">
            <%= show_svg 'user.svg' %>
          </div>
        </div>
      <% end %>
    <!-- If a visitor haven't an account nor a profile -->
    <% else %>
      <%= link_to(new_user_session_path) do %>
        <div class="col-xs-2">
          <div class="footer-item navbar-icon <%= current_class?(new_profile_path) %>">
            <%= show_svg 'user.svg' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
