<div class="hidden-xs" style="margin-top: 100px;">
</div>
<div class="container">
  <div class="col s12">
    <div class="row">
      <div class="card form-card col-sm-6">
        <h5 class="form-title text-center"><%= t('users.signin.title') %></h5>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="row">

            <div class="form" style="width: 80%;">
              <%= f.input :email,
                  required: true,
                  autofocus: true,
                  as: :email,
                  input_html: { autocomplete: "email" },
                  wrapper_html: { class: 's12' } %>

              <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" },
                  wrapper_html: { class: 's12' } %>

              <%= f.input :remember_me, :as => "checkbox", as: :boolean if devise_mapping.rememberable? %>
            </div>

          </div>

          <div class="form-actions text-center">
            <%= f.button :submit, t('users.signin.btn'), class: "submit-btn" %>
          </div>

        <% end %>

          <div class="form-links text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
        <div class="col-xs-6 hidden-xs">
          <%= image_tag("idea-img.png", :class => "idea-img-form") %>
        </div>
      </div>
    </div>
  </div>
</div>
