<div class="row">
  <div class="col-xs-12">
    <div class="type-selection text-center">
      <%= link_to(pro_profiles_path) do %>
        <div class="filter <%= current_class?(pro_profiles_path) %>">
          <p><%= t('pro_profiles.index.entity') %></p>
        </div>
      <% end %>
      <%= link_to(boxes_path) do %>
        <div class="filter <%= current_class?(boxes_path) %>">
          <p><%= t('pro_profiles.index.box_ideas') %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= form_tag pro_profiles_path, method: :get, :class => 'search-bar' do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: t('pro_profiles.index.search')
      %>
      <%= submit_tag "🔍", class: "btn search-icon" %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <% if @pro_profiles %>
      <% @pro_profiles.each do |pro_profile| %>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-image">
                  <%= image_tag("company.png", :class => "card-idea-logo") %>
                  <% if pro_profile.photo.url %>
                    <%= image_tag(pro_profile.photo.url, :class => "idea-image") %>
                  <% else %>
                    <%= image_tag("idea-2.jpg", :class => "idea-image") %>
                  <% end %>
                  <%= link_to (profile_path(Profile.find_by(user_id: pro_profile.user_id))) do %>
                    <p class="author-name"><%= t('pro_profiles.index.by') %> <%= Profile.find_by(user_id: pro_profile.user_id).username %></p>
                  <% end %>
                  <%= link_to (pro_profile_path(pro_profile)) do %>
                    <span class="card-title"><%= pro_profile.title %><br><%= ProfileTag.where(pro_profile_id: pro_profile.id).count %> <%= t('pro_profiles.index.ideas') %></span>
                  <% end %>
                  <% if policy(pro_profile).edit? %>
                    <%= link_to(edit_pro_profile_path(pro_profile)) do %>
                      <i class="fas fa-pen card-idea-pencil"></i>
                    <% end %>
                  <% end %>

                </div>
                <div class="card-content">
                  <p><%= pro_profile.bio %></%>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
