<div class="hidden-xs" style="margin-top: 100px;">
</div>
<div class="container">
  <div class="col s12">
    <div class="row">
      <div class="card form-card form-card-pro-profile col-sm-6">
        <h5 class="form-title text-center"> <%= t('pro_profiles.new.title') %> </h5>

        <%= simple_form_for [@pro_profile] do |f| %>

          <div class="row">
            <div class="form">
              <%= f.error_notification %>

              <%= f.input :title,
                label: t('pro_profiles.new.name'),
                class: "title-label",
                wrapper_html: { class: 's12 input-field' } %>

              <%= f.input :bio,
                label: t('pro_profiles.new.bio'),
                class: "title-label",
                wrapper_html: { class: 's12' } %>


            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="file-field input-field col file optional pro_profile_photo">
  <!--               <div class="btn" style="background-color: lightgrey;">
                  <span tag="span" text="label_text" class="file optional"><%= image_tag("picture.png", :class => "logo-form") %></span>
                  <input class="file optional" type="file" name="pro_profile[photo]" id="pro_profile_photo">
                </div>
                <div class="file-path-wrapper">
                  <input tag="input" class="file-path validate file optional" type="text">
                </div> -->
                <%= f.input :photo %>
              </div>


              <%= f.input :photo_cache, as: :hidden %>
            </div>
            <div class="col-xs-6">
              <div class="form-actions new-idea-btn text-center">
                <%= f.button :submit, t('pro_profiles.new.btn') %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6 hidden-xs">
        <%= image_tag("pro_profile.png", :class => "idea-img-form") %>
      </div>
    </div>
  </div>
</div>

<script>
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
</script>
