<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render 'shared/card_pro_profile', pro_profile: @pro_profile %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% ProfileTag.where(pro_profile_id: @pro_profile.id).each do |profile_tag| %>
      <% idea = Idea.find(profile_tag.idea_id) %>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= render 'shared/card_idea', idea: idea %>
      </div>
    <% end %>
  </div>
</div>
