.banner-profile {

}

.log-out {
  //position: absolute;
  //right: 26px;
  font-size: 20px;
  margin-top: 20px;
}

.informations {
  font-size: 17px!important;
}



.username {
  text-align: center;
}

.city {
  font-size: 22px !important;
}

.description {
  background-color: #87AEB4;
  font-size: 20px;
}

.avatar-profile {
  width: 75px;
  height: 75px;
  padding-top: 25px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: black 1px solid;
  text-align: center;
  margin: auto;
}

.edit-user {
    border: #ED5560 1px solid;
    border-radius: 50%;
    background-color: #ED5560;
    padding-top: 6px;
    width: 34px;
    height: 34px;
    margin: auto;
    padding-left: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.avatar-position {
  padding-top: 10px;
}

.data-position {
  padding-top: 50px;
  text-align: left;
}

.element {
  text-align: center;
}

.dropdown img {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.informations-profil {
  align-items: center;
  height: 60px;
}

.informations-description {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  margin: 15px 15px;
  background-color: #f4f4f4;
  padding: 15px 15px 15px 15px;
}

.elements-description a {
  color: grey;
}

.ul-link-show {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  a {
   color: #000000!important;
 }
}

.link-show:hover {
  background-color: $blue-ideez;
}
.back-color-show {
}
.filtre {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px 5px 5px 5px;
}

.filtre:hover {
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px 5px 5px 5px;
  background-color: #FFFFFF;
}
