.card {
  border-radius: 10px !important;
  min-width: 500px;
}


@media (min-width: 320px) and (max-width: 480px) {
  .card {
    min-height: 0px;
    min-width: 300px;
  }
}


@media screen and (min-width: 800px) {
  .empty-card {
  margin: 100px;
  width: 300px;
  height: 400px;
  }
}
.empty-card {
  width: 80%;
}

.card-descriptions {
  word-wrap: break-word;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: -25px;
}

.description {
  background-color: #87AEB4;
}

.card-idea-bookmark {
  position: absolute;
  top: 20px;
  right: 20px;
  color: $blue-ideez;
  font-size: 20px;
}

// card-idea-pencil

.card-idea-pencil {
  position: absolute;
  top: 20px;
  right: 20px;
  color: $blue-ideez;
  font-size: 20px;
}

.author-name {
  position: absolute;
  top: 70px;
  left: 20px;
  font-size: 16px;
  color: white;
  font-weight: bolder;
  background-color: rgba(135, 174, 180, 0.5);
  padding: 6px;
  &.box-author-name {
    top: 70px!important;
  }
  & a {
    color: white;
  }
  &.box-author-name a {
    color: black!important;
  }
}

.card-image {
  border-radius: 10px 10px 0 0 !important;
}

.idea-image {
  // filter: grayscale(1);
  border-radius: 10px 10px 0 0 !important;
}

.card-idea-logo {
  position: absolute!important;
  top: -20px!important;
  left: -20px!important;
  height: 50px!important;
  width: 50px!important;
  z-index: 5!important;
}

.card-title {
  color: white!important;
  font-weight: bolder!important;
  position: absolute;
  width: 100%;
  background-color: rgba(135, 174, 180, 0.5);
  &.box-title {
    color: black!important;
    bottom: 10px;
    left: 10px;
  }
}

.card-details {
  // height: 60px;
  border-radius: 0 0 10px 10px !important;
  & a {
    color: #8c8888!important;
  }
}

.avatar-author {
  background-color: #cccccc;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 150px;
  text-align: center;
  font-weight: bold;
  margin-left: 16px;
}

.comment-preview {
  background-color: #f0eded;
  border-radius: 20px;
  padding-left: 15px;
  margin-right: 10px;
}

.raty-cancel {
  width: 13px!important;
}

.idea-date {
  position: absolute;
  bottom: 3px;
  right: 20px;
  font-size: 12px;
  color: white!important;
  font-weight: bolder!important;
  margin-top: 4px;
  z-index: 10px;
}

.idea-city {
  position: absolute;
  bottom: 0px;
  left: 25px;
  color: white!important;
  font-weight: bolder!important
}

.rating-idea {
  position: absolute;
  right: 20px;
  bottom: -5px;
  color: #898686;
}

.idea-comment {
  position: absolute;
  left: 20px;
  bottom: -5px;
  font-size: 10px;
  color: #898686;
}

.avatar-little {
  width: 50px!important;
  height: 50px;
  border-radius: 50%!important;
  position: absolute!important;
  top: 15px!important;
  left: 15px!important;
}

.tag-avatar {
  width: 50px!important;
  height: 50px;
  border-radius: 50%!important;
  position: absolute!important;
  top: 15px!important;
  left: 105px!important;
}

.fa-chevron-right {
  position: absolute;
  top: 28px;
  left: 80px;
  font-size: 23px;
}

.card-idea-tags{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.comment-number {
  margin-left: 10px;
  padding-bottom: 10px;
}

.idea-content {
  background-color: black;
  padding: 5px;
}

.card-box-tag p {
  position: relative;
  margin: 3px;
  font-size: 11px;
  color: #8c8888;
}

.rate {
  margin: 10px;
  & img {
    width: 23px;
  }
}

.form-card-pro-profile {

}
