/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #ED5560;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
  margin-bottom: 40px;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
  width: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
  fill: white;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

.dropdown img {
  border-radius: 50%;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.footer-bar {
  position: fixed;
  height: 40px!important;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: white;
  text-align: center;
  z-index: 10;
}

.footer-item {
  position: absolute;
  top: 10px;
  left: 22px;
  color: white;
  font-size: 22px;
  color: $blue-ideez;
}

.navbar-icon {
  &.active {
    fill:#87AEB4;
  }
}

.logo-navbar-desktop {
  display: flex;
}

.logo-title {
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
  color: white;
  & p:hover {
    text-decoration: none;
  }
}

.logo {
  height: 50px;
}

a:hover {
  text-shadow: 0.5px 0.5px 0 lighten($red-ideez, 5%), 1px 1px 0 lighten($red-ideez, 10%), 1px 1px 0 lighten($red-ideez, 5%);
  transform: translate(-3px,-3px);
  text-decoration: none;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 20;
  }

.navbar-wagon-item.navbar-wagon-link:hover .tooltiptext  {
  visibility: visible;
}
