<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-3">
      <h5><%= t('reviews.title') %></h5>
      <p><%= simple_form_for [@idea, @review] do |f|  %></p>
        <div class="col-xs-12">
        <%= f.input :description, wrapper_html: { class: 's12', id: 'textarea', maxlength: "240" }, label: t('reviews.comment') %>
        </div>
        <div class="col-xs-12 col-sm-6 ">
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
        <div class="form-actions new-review-btn text-center">
          <%= f.button :submit, t('ideas.show.btn') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
