<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-3">
      <h5>Editez votre commentaire</h5>
      <p><%= simple_form_for [@idea, @review] do |f|  %></p>
        <%= f.input :description, wrapper_html: { class: 's12', id: 'textarea', maxlength: "240" }, label: t('.text') %>
        <div class="form-actions text-center">
          <%= f.button :submit, t('ideas.show.btn') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
