<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-1 col-md-4 col-md-offset-4">
      <p><%= simple_form_for [@idea, @review] do |f|  %> </p>
        <p><%= f.input :description %> </p>


        <p><%= f.submit "add a review", class: "btn btn-primary" %> </p>

      <% end %>
    </div>
  </div>
</div>



