<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ideez</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css', media: 'screen,projection' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= favicon_link_tag asset_path('idea.png') %>
  </head>
  <meta name="google-site-verification" content="4Bsls64_WHKFLnd4CTMpr4uKInsRPWCMNi2iw7wpKPY" />
  <body>

    <%= link_to(root_path) do %>
      <div class="hidden-sm hidden-md hidden-lg curved-section">
        <%= show_svg 'curved-section.svg' %>
      </div>
    <% end %>
    <div class="space">
    </div>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js'%>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js" %>
  </body>
</html>
